:root {
    --color-primario: #f5f5fa;
    --secundario: #141414ad;
    --tercero: #ec0be15d;
    --cuarto: #00c4de52;
    --glass: rgba(255, 255, 255, 0.4);backdrop-filter: blur(5px);  
   
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background: #2c2e2e8a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4e4e, #898a8a8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4e4e, #898a8a8a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-primario);

}
    

  
img {
    min-width: 100%;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primario);
}


h1 {
    font-size: 4rem;
    font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
    font-size: 3.5rem;
}

p,
li,
a {
    font-size: 2.3rem;
}

/** KeyFrames **/
@keyframes navkey {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(0%);
    }
}
@keyframes arriba {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}
@keyframes rotar {
    from {
        transform: rotate3d(100%);
    }

    to {
        transform: rotate(0%);
    }
}
/** framework **/
.contenedor {
    max-width: 100%;
    margin: 0 auto;
}

.texto-centrado {
    text-align: center;
}
.reset {
    margin: 0;
    padding: 0;
}
/** estilos header**/
.site-header   {
    padding: 15px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}

.barra {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    flex-basis: 30%;
    text-transform: uppercase;
    font-weight: 300;
}

.logo a h1 {
    font-weight: 300;
    display: inline-block;
}
.barra li {
    display: inline-block;
}

.barra button {
    display: none;
}
.translate {
    transform: translateX(100%);
}
@media (min-width: 768px) {
    .barra {
        flex-direction: row;
        align-items: center;
        justify-content: center;

           
    }
        .navegacion {
            animation: navkey .5s ease-out;
            
        }
    .navegacion li a {
        border-bottom: 1px solid transparent;
        overflow: hidden;
         padding: 3px;
        transition: border ease-in .3s;
    }
    .navegacion li a:hover {
        overflow: hidden;
     
        border-bottom: 1px solid var(--color-primario);
    } 
}

.navegacion {
    display: flex;
    flex:0 1 calc(35% - 10px);
    justify-content: space-around;
    flex-direction: column;
    backdrop-filter: blur(15px);
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
}

@media (max-width: 1300px) {
    .navegacion  {
        flex: 1;
        flex-basis: 50%;
    }
    .logo {
        flex-basis: 35%;
        padding: 15px;
    }
}
@media (max-width: 768px ) {
    .barra {
        justify-content: space-between;
    }
    .logo {
        flex-basis: 90%;
    }
    .barra button {
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        color: var(--color-primario);
        outline: none;
        font-size: 1.7em;
        cursor: pointer;
        z-index: 4;

    }
    .barra i.fa-times,
    .barra.opened i.fa-bars {
        display: none;
        
    }

    .barra.opened i.fa-times,
    .barra i.fa-bars {
        display: block;
        animation: entrar 0.8s;
        font-size: 2.5rem;
        padding: 5px;
        border: 2px solid var(--color-primario);
        position: fixed;
    }

    @keyframes entrar {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    .navegacion {
        position: fixed;
        top: 0;
        right: 0;
        width:100%;
        background: linear-gradient(#110811ce, #dbdfde );
        filter: contrast(15px);
        color: #ffffff;
        padding: 23px 16px;
        flex-direction: column;
        align-items: center;
        transform: translatey(-100%);
        transition: transform 0.5s;
        z-index: 4;
    }
    .navegacion li {
        display: block;
        width: 50%;
        text-align: center;
        border: 2px solid rgb(12, 12, 12);;
        background-color: #1312129c;
        padding: 5px;
        box-shadow: 0 15px 19px rgba(0, 0, 0, 0.3);
        margin: 12px 0;
    }
    .barra.opened .navegacion {
        transform: translateY(0);
    }
    .barra.opened button {
        color: #ffffff;
    }
    .barra button {
        display: flex;
        justify-content: space-evenly;
    }
    .redes {
        position: fixed;
        margin-right: 5px;
    }
}

/** fin header **/

/** intro **/

.intro-conteiner {
    display: flex;
    justify-content: flex-end;
}




.redes {
     animation: arriba .9s ease;
}
.redes ul li {
    padding: 9px;
    
}
i.fab {
    font-size: 40px;
   
}
.fa-instagram:hover {
    color: rgba(209, 18, 4, 0.747);
}
.fa-facebook:hover {
    color: blue;
}
.fa-whatsapp:hover {
    color: green;
}
/**main**/

/** Articulos*/
.seccion-main {
    margin-top: 5vh;
    display: flex;
    padding: 7rem 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 1000px) {
    .seccion-main {
        margin-top: 0;
        display: flex;
        padding: 0 10px;
        align-items: center;
        flex-direction: row;
        margin-bottom: 3rem;
        justify-content: center;
    }
}
.imagen-main {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-basis: 45%;
}
.imagen-main img {
    min-height: 50%;
    padding: 0 55px;
    min-width: 50%;
}
.texto-main {
    flex-basis: 45%;
}
.texto-main p:last-child {
    background-color:var(--glass);
    padding: 15px;
    border-radius: 0 0 0 15px;
}

.burbuja-p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    width: 25%;
    color: var(--secundario);
    font-weight: 600;
    border-bottom: 4px solid var(--color-primario);
    background: var(--glass);
}
.circular img {    
    height: 50%;
    width:50%;
    border: 12px groove var(--color-primario);
    border-radius: 500px;
    padding: 0;
}
/** fin de articulos del main*/

.sesgo-abajo {
    height: 250px;
    position: relative;
    top: -600px;
    width: 100%;
    transform: skewY(19deg);
    z-index: -1;
    background: linear-gradient(to left, #00000042, #1912221c);
    margin-bottom: 10rem;
}
.sesgo-arriba {
    height: 250px;
    width: 100%;
    transform: skewY(19deg);
    z-index: 1;
    background: linear-gradient(to left, #ffffff42, #1912221c);
    margin-bottom: 10rem;   
}


.texto-cuadro {
    font-size: 2rem;
    flex-basis: 50%;
}
.skill-titulo {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ffffff;
    background: var(--cuarto);
    margin-bottom: 3px;
}
.texto-cuadro p:last-child {
    padding: 15px;
    background-color: var(--secundario);
    border-radius: 5px;
    border: 2px ridge var(--color-primario);
    box-shadow: 15px 15px 25px rgb(53, 52, 52);
    height: 250px;
    display: flex;
    text-align: center;
    align-items: center;
}

